<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>

    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/board.css}" rel="stylesheet"/>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="container2">
        <div class="board_main">
            <div class="board_main_box">
                <div class="board_maintext">
                    <p class="maintext1">자유 게시판</p>
                    <p class="maintext2">의견, 정보, 질문 등을 자유롭게 게시하여 다른 사용자들과 소통해 보세요</p>
                    <div class="board_main_btn">
                        <a th:href="@{/board/register}" >
                            <button type="button" class="custom-btn btn_register">글 등록하기</button>
                        </a>
                    </div>
                </div>

                <div class="board_main_box2">
                    <!-- 검색 폼 -->

                    <form action="/board/list" method="get" th:action="@{/board/list}" th:object="${pageRequestDTO}">
                        <div class="search_box">
                            <div class="input-group">
                                <select name="type" class="form-select" th:value="${pageRequestDTO.type}">
                                    <option value="">검색 조건</option>
                                    <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                                    <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                                    <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                                    <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                                    <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>
                                </select>
                                <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                                <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                                <button class="btn btn-outline-secondary clearBtn" type="button">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>

            <div class=""></div>
        </div>


    </div>
</div>
</body>

</html>
