<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
  <meta charset="UTF-8">
  <title>게시글 수정</title>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/board.css}" rel="stylesheet" />
</head>

<div class="container" layout:fragment="content">
  <div class="container2">
    <div class="board_main">

      <div class="board_main_box">

        <div class="board_maintext">
          <p class="maintext1">게시물 수정</p>
        </div>

        <div class="board_main_box4">
          <form th:action="@{/board/modify}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="boardId" th:value="${boardDTO.boardId}"/>

            <div class="main-input">
              <label><span>* </span>작성자</label>
              <input type="text" class="txt-input" name="title" th:value="${boardDTO.username}">
            </div>

            <div class="main-input">
              <label><span>* </span>제목</label>
              <input type="text" class="txt-input" name="title" th:value="${boardDTO.title}" required>
            </div>

            <div class="main-textarea">
              <label><span>* </span>게시글 내용</label>
              <textarea name="content" class="txt-textarea" rows="5" th:text="${boardDTO.content}" required></textarea>
            </div>

            <div class="main-input">
              <label><span>* </span>작성 날짜</label>
              <input type="text" class="txt-input"  th:value="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd HH:mm')}">
            </div>

            <div class="main-input">
              <label><span>* </span>수정 날짜</label>
              <input type="text" class="txt-input"  th:value="${#temporals.format(boardDTO.modDate, 'yyyy-MM-dd HH:mm')}">
            </div>

            <div class="main-input">
              <label><span>* </span>기존 첨부 파일 </label>
              <input type="text" class="txt-input"  th:each="fileName : ${boardDTO.fileNames}" >
              <span th:text="${fileName}" class="me-2">파일 이름</span>
              <button type="button" class="btn btn-sm btn-outline-danger" onclick="removeFile(this, '[[${fileName}]]')">삭제</button>
            </div>

            <div class="main-input">
              <label><span>* </span> 새로운 첨부 파일 추가 </label>
              <input type="file" class="txt-input" name="files" multiple />
            </div>

            <div class="todo_main_btn">
              <button type="submit" class="custom-btn btn_register2">게시글 저장</button>

              <a th:href="@{/board/read(boardId=${boardDTO.boardId})}"  class="text-decoration-none">
                <button type="button" class="custom-btn btn_register2">뒤로 가기</button>
              </a>
              <a th:href="@{/board/remove(boardId=${boardDTO.boardId})}"  class="text-decoration-none">
                <button type="button" class="custom-btn btn_register3">게시글 삭제</button>
              </a>
            </div>






          </form>
        </div>

      </div>


    </div>




  </div>
</div>

<script>
  function removeFile(button, fileName) {
    const form = button.closest("form");
    const input = document.createElement("input");
    input.type = "hidden";
    input.name = "deletedFiles";
    input.value = fileName;
    form.appendChild(input);

    const li = button.closest("li");
    li.remove();
  }
</script>

</html>
