<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
  <meta charset="UTF-8">
  <title>게시글 등록</title>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/board.css}" rel="stylesheet" />
</head>


<div class="container" layout:fragment="content">
  <div class="container2">
    <div class="board_main">

      <div class="board_main_box">

        <div class="board_maintext">
          <p class="maintext1">게시물 등록</p>
        </div>

        <div class="board_main_box4">
          <form action="/board/register" method="post" enctype="multipart/form-data">


            <div class="main-input">
              <label><span>* </span>제목</label>
              <input type="text" class="txt-input" name="title" required>
            </div>

            <div class="main-textarea">
              <label><span>* </span>게시글 내용</label>
              <textarea name="content" class="txt-textarea" rows="5" required></textarea>
            </div>

            <div class="main-input">
              <label><span>* </span>  첨부 파일 추가 </label>
              <input type="file" class="txt-input" name="files" multiple />
            </div>

            <div class="todo_main_btn">
              <button type="submit" class="custom-btn btn_register2">게시글 등록</button>
              <a href="/board/list"  class="text-decoration-none">
                <button type="button" class="custom-btn btn_register2">뒤로 가기</button>
              </a>
              <button type="reset" class="custom-btn btn_register3">내용 초기화</button>



            </div>

          </form>

        </div>

        </div>

      </div>


    </div>




  </div>
</div>
</html>
