<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/todo.css}" rel="stylesheet"/>
</head>

<body>

<div class="container" layout:fragment="content">
    <div class="container2">

        <!-- 사용자 이름 표시 영역 -->
        <div class="todo_main2">
            <div class="todo_main_box">
                <div class="todo_maintext">
                    <span th:text="${dto.username} + ' 님의 노트입니다.'"></span>
                </div>
            </div>
        </div>

        <!-- 노트 상세 정보 영역 -->
        <div class="todo_main_table">
            <div class="todo_main_box3">

                <!-- read.html의 이미지 출력 부분 수정 -->
                <div class="image-container">
                    <img th:if="${dto.fileNames != null && !dto.fileNames.isEmpty()}"
                         th:src="@{/notes/view/{fileName}(fileName=${dto.fileNames[0]})}"
                         alt="Note Image" style="width: 100%; height: auto;">
                </div>


                <!-- 제목 필드 -->
                <div class="main-input">
                    <label><span>* </span>제목</label>
                    <input type="text" class="txt-input" name="title" th:value="${dto.title}" readonly>
                </div>

                <!-- 내용 필드 -->
                <div class="main-textarea">
                    <label><span>* </span>내용</label>
                    <textarea name="content" class="txt-textarea" rows="3" readonly th:text="${dto.content}"></textarea>
                </div>

                <!-- 버튼 영역 -->
                <div class="mt-4">
                    <!-- 목록으로 돌아가기 버튼 -->
                    <a th:href="@{/notes/list}" class="btn btn-secondary">목록으로 돌아가기</a>

                    <!-- 수정하기 버튼 (작성자와 현재 사용자가 동일할 때만 표시) -->
                    <!--<a th:if="${username == dto.username}"
                       th:href="|@{/notes/modify(noteId=${dto.noteId})}|"
                       class="btn btn-primary ms-2">수정하기</a>-->
                    <!-- read.html에서 수정 페이지로 이동하는 링크 -->
                    <a th:href="@{/notes/modify/{noteId}(noteId=${dto.noteId})}">수정하기</a>

                    <a th:href="@{/notes/modify/{noteId}(noteId=${dto.noteId})}" class="btn btn-primary ms-2">
                        수정하기22 (ID: <span th:text="${dto.noteId}"></span>)
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
