
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Content</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
    <div class="container2">
        <div class="main_profile">
            <div class="main_profileimg">
                <img th:src="@{'/upload/' + ${profileImage.filename}}" alt="유저사진" class="hello_img" width="120" height="120">
                <p class="hello_user">반갑습니다. <b th:text="${user.username}">USERNAME</b></span>님
                    <img class="hello_userimg" src = "/img/main/main_smile.png" width="30" height="30">
                </p>
            </div>
        </div>

        <div class="chalendar">
            <div class="chalendar_img"><img src="/img/main/angle-down.svg" width="20" height="20"></div>
            <p>캘린더 확인하기</p>
        </div>

        <div class="main_center">
            <div class="main_box">
                <div>
                    <p class="main_center_title">오늘의 To-do List</p>
                    <a href="/todo/list?pageType=today"><img class="main_center_title_img" src="/img/main/main_todo.png" width="20" height="20"></a>
                </div>

                <div class="main_center_todo">
                    <div class="todo_checkbox">
                        <input type="checkbox" name="todo_check">
                    </div>
                    <div class="todo_title">프로젝트 발표</div>
                    <div class="todo_description">프로젝트 발표 준비하기</div>

                    <div class="todo_checkbox">
                        <input type="checkbox" name="todo_check">
                    </div>
                    <div class="todo_title">PPT 제작</div>
                    <div class="todo_description">1시까지 만들어서 제출하기</div>

                    <div class="todo_checkbox">
                         <input type="checkbox" name="todo_check">
                     </div>
                    <div class="todo_title">기출 3회독</div>
                    <div class="todo_description">자기 전까지 끝내놓기</div>

                </div>
            </div>

            <div class="main_box">
                <div>
                    <p class="main_center_title">오늘의 학습 그래프</p>
                    <a href="/todo/list?pageType=today"><img class="main_center_title_img" src="/img/main/main_graph.png" width="20" height="20"></a>
                </div>
                <div class="main_center_box" >
                    <div class="main_graph">
                        <img src="/img/main/graph1.png" width="200" height="200">
                    </div>


                </div>


            </div>
        </div>

        <div class="main_bottom">
            <div class="main_bottombox">
                <div class="main_bottom_post_title">인기 게시물</div>

                <div class="main_bottom_post">
                    <div class="post_box">
                        <img class="main_bottom_img" src="/img/main/study.jpg" width="220" height="240"><br>
                        <div class="main_bottom_title">공부 잘 하는 비결</div>
                        <div class="main_bottom_visitcount_text">조회수 1245</div>
                        <div class="main_bottom_visitcount_img">
                            <img src="/img/main/visitcount.png" width="20" height="20">
                        </div>
                    </div>
                </div>

                <div class="main_bottom_post">
                    <div class="post_box">
                        <img class="main_bottom_img" src="/img/main/main_bottom_img2.PNG" width="220" height="240"><br>
                        <div class="main_bottom_title">공무원 문제집 추천</div>
                        <div class="main_bottom_visitcount_text">조회수 1245</div>
                        <div class="main_bottom_visitcount_img">
                            <img src="/img/main/visitcount.png" width="20" height="20">
                        </div>
                    </div>
                </div>

                <div class="main_bottom_post">
                    <div class="post_box">
                        <img class="main_bottom_img" src="/img/main/main_bottom_img3.PNG" width="220" height="240"><br>
                        <div class="main_bottom_title">필기구 리뷰</div>
                        <div class="main_bottom_visitcount_text">조회수 753</div>
                        <div class="main_bottom_visitcount_img">
                            <img src="/img/main/visitcount.png" width="20" height="20">
                        </div>
                    </div>
                </div>

                <div class="main_bottom_post">
                    <div class="post_box">
                        <img class="main_bottom_img" src="/img/main/main_bottom_img4.PNG" width="220" height="240"><br>
                        <div class="main_bottom_title">독학 100점</div>
                        <div class="main_bottom_visitcount_text">조회수 567</div>
                        <div class="main_bottom_visitcount_img">
                            <img src="/img/main/visitcount.png" width="20" height="20">
                        </div>
                    </div>
                </div>
    </div>


</div>
</body>
</html>

</html>
