<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/todo.css}" rel="stylesheet"/>
</head>

<body>


<div class="container" layout:fragment="content">
<div class="container2">
  <!--------------------★★★★★★★★★ 여기서 부터 본인 레이아웃 넣기 ★★★★★★★★★-------------------->


  <div class="todo_main2">
    <div class="todo_main_box">
      <div class="todo_maintext">
        <span th:switch="${pageRequestDTO.pageType}">
          <span>[[${user.username}]]님 어떤 일을 하셔야 하나요?</span>
        </span>
      </div>
    </div>
  </div>

<div class="todo_main_table2">
  <div class="todo_main_box3">


      <form action="/todo/register" method="post">
        <input type="hidden" id="pageType" th:value="${pageRequestDTO.pageType}">

        <div class="main-input">
          <label><span>* </span>제목</label>
          <input type="text" class="txt-input" name="title" placeholder="제목을 입력해주세요.">
        </div>

        <div class="main-textarea">
          <label><span>* </span>내용</label>
          <textarea name="description" class="txt-textarea" rows="3" placeholder="내용을 입력해주세요."></textarea>
        </div>

        <div class="main-input">
          <label><span>* </span>마감날짜</label>
          <input type="date" class="txt-input" name="dueDate">
        </div>

        <div class="todo_main_btn">
          <button type="submit" class="custom-btn btn_register2">일정 등록</button>

          <a th:href="|@{/todo/list}?${link}&pageType=${pageRequestDTO.pageType}|" >
            <button type="button" class="custom-btn btn_register2">뒤로</button>
          </a>
         <!--<button type="reset" class="custom-btn btn_register">초기화</button>-->

        </div>
      </form>

  </div>
</div>
</div>
</div>
</body>





<script layout:fragment="script" th:inline="javascript">
</script>
</html>